NODE_ENV=development
PORT=8000
ALLOWED_ORIGIN=http://localhost:5173

DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=Check_Task_DB

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

AWS_REGION=ap-northeast-2
AWS_S3_BUCKET=checktask
AWS_ACCESS_KEY=
AWS_SECRET_ACCESS_KEY=

# 운영 환경(NODE_ENV=production)에서 /docs 접근 계정
SWAGGER_USER=
SWAGGER_PASSWORD=

JWT_SECRET=
JWT_ACCESS_EXPIRES_IN=1h
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=7d